<?xml version="1.0"?>

<launch>
    <arg name="map_file" default="$(find chibi22_a)/map/map.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" output="screen"/>

    <node pkg="rviz" name="rviz" type="rviz" args="-d$(find chibi22_a)/config/rviz/localizer.rviz" output="screen"/>
</launch>
